%define pathnote substr("%{ENV_PATH}",0,index("%{ENV_PATH}",":"))
%info my path begins %{pathnote}
# This is NOT a complete config file. It is a tiny piece for a Docs example.
# See $SPEC/config/tiny-examples/contents.txt
